.container {
  width: 60%;
  margin: auto;
  .title {
    .back-home {
      margin-bottom: 60px;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: color 0.3s;
      color: #666;

      &:hover {
        color: #333;
      }

      span {
        font-size: 20px;
        margin-left: 5px;
      }
    }
    .title-text {
      text-align: center;
      h2 {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: bold;
        color: #333;
      }
      p {
        margin-bottom: 20px;
        font-size: 16px;
        color: #666;
      }
    }
  }
  .form-container {
    .login-btn-container {
      margin-top: 20px;
      width: 100%;
      text-align: center;
    }
  }
  .footer {
    margin-top: 30px;
    text-align: center;
    p {
      font-size: 14px;
      color: #666;
      a {
        color: #4a90e2;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
